{% comment %} {% extends 'base.html' %} {% endcomment %}
{% include "base.html" %}
{% load static %}
{% comment %} {% block title %}Contact{% endblock title %} {% endcomment %}


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Feedback Form</title>
    <link rel="stylesheet" href="{%  static  'css/contact.css'  %}">
</head>


{% block body %}
{% comment %} 
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span> 
  </button> 
</div>


 {% endfor %}
{% endif %}
{% comment %} <div class="bg">
  <img src="https://jooinn.com/images/crime-scene-investigation-3.jpg" alt="img" style="width: 100vw; ">
  </div> {% endcomment %}

<div class="feedback-box">
        {% comment %} <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/13/Mumbai_Police_logo.png/140px-Mumbai_Police_logo.png" class="avatar" alt="Avatar Image"> {% endcomment %}
        <h1>Feedback</h1>
        <form method="post" action="/contact">
            {% csrf_token %}
            <div class="demo-wrap">
  <img
    class="demo-bg"
    src="static/2.png"
    alt=""
  >
  
</div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
                </div>
        
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
                </div>
                
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <br>
                    <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
                </div>      
                
                <div class="form-group">
                    <label for="desc">Description</label>
                    <input type="description" class="form-control" rows="3" maxlength="400" placeholder="Feedback Description"  name="desc" required=""></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
        
        </div>
        
        </div>
       
        {% comment %} <footer>
        {% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
     {% endfor %}
{% endif %}
</footer> {% endcomment %}
{% comment %} <br>
<footer class='text-center text-light bg-dark'>
      All rights reserved.©
    </footer> {% endcomment %}
{% endblock body %}